@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" ng-app="loanGrantSearchApp" ng-controller="SearchController">
    <input type="text" id="txtSearchText" ng-model="helloAngularJS" />
    {{helloAngularJS}}
    <div id="search-logo" class="row  col-xs-offset-5 col-sm-offset-5 col-md-offset-5  col-lg-offset-5 logo-position-center">
        <img src="~/Content/loan_icon.jpg" width="130" height="130" />
    </div>

</div>

