
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="loanGrantSearchApp" ng-controller="AdvanceSearchController">


    <div id="divNav"></div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h1>Advance Search</h1>
            <div class="col-lg-6">
                <div class="well ">
                    <form class="form-horizontal" ng-submit="search()">
                        <fieldset>
                            <legend>Search Options</legend>
                            <div class="form-group">
                                <label for="select" class="col-lg-3 control-label">Government Type</label>
                                <div class="col-lg-9">
                                    <select ng-model="selectedGovType" class="form-control" id="select" ng-change="changeGovType()">
                                        <option value="All">All</option>
                                        <option>Federal</option>
                                        <option>State</option>
                                        <option>Local</option>
                                        <option>Private</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" ng-show="selectedGovType == 'State'">
                                <label for="select" class="col-lg-3 control-label">States</label>
                                <div class="col-lg-9">
                                    <select ng-model="selectedState" class="form-control" ng-options="state.abbreviation as state.name for state in states"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="select" class="col-lg-3 control-label">Industry</label>
                                <div class="col-lg-9">
                                    <select ng-model="selectedIndustry" class="form-control" id="select">
                                        <option value="All">All</option>
                                        <option value="Agriculture">Agriculture</option>
                                        <option value="Child Care">Child Care</option>
                                        <option value="Environmental Management">Environmental Management</option>
                                        <option value="Health Care">Health Care</option>
                                        <option value="Manufacturing">Manufacturing</option>
                                        <option value="Technology">Technology</option>
                                        <option value="Tourism">Tourism</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="select" class="col-lg-3 control-label">Loan Type</label>
                                <div class="col-lg-9">

                                    <select ng-model="selectedLoanType" class="form-control" id="select">
                                        <option value="All">All</option>
                                        <option value="Grant">Grant</option>
                                        <option value="Loan">Loan</option>
                                        <option value="Venture Capital">Venture Capital</option>
                                        <option value="Tax Incentive">Tax Incentive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Speciality</label>
                                <div class="col-lg-9">
                                    <div class="checkbox">
                                        <label><input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model="checkboxModel.is_general_purpose"> General Purpose</label>
                                        <label><input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model="checkboxModel.is_development"> Development</label>
                                        <label><input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model="checkboxModel.is_exporting"> Exporting</label>
                                        <label><input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model="checkboxModel.is_contractor"> Contractor</label>
                                        <label><input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model="checkboxModel.is_green"> Green</label>
                                        <label><input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model="checkboxModel.is_militry"> Militry</label>
                                        <label><input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model="checkboxModel.is_minority"> Minority</label>
                                        <label><input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model="checkboxModel.is_disabled"> Disabled</label>
                                        <label><input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model="checkboxModel.is_rural"> Rural</label>
                                        <label><input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model="checkboxModel.is_disaster"> Disaster</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="progress-bar" ng-hide="resultprogress > 99" class="progress progress-striped active center-block" style="width: 50%; display: none">
        <div class="progress-bar" ng-style="{ 'width' : resultprogress + '%' }"> Searching {{resultprogress}}% </div>
    </div>
    <br />
    <br />
    <div id="search-results" class="container" ng-visible="searchResult.length > 0" ng-show="resultprogress > 99">
        <div ng-repeat="item in searchResult">
            <a class="cursor-pointer" ng-click="showInfoInDlg(item)">{{item.title}}</a>
            <span ng-if="!searchItemExists(item)" class="label label-success cursor-pointer" ng-click="saveToMySearches(item)">Save To Favourites</span>
            <span ng-if="searchItemExists(item)" ng class="label label-danger cursor-pointer" ng-click="deleteFromMySearches(item)">Remove From Favourites</span>
            <p class="url-green"> {{item.url}} </p>
            <p> {{item.description}} </p>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Description</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" rows="5" ng-bind="description" disabled=""></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Agency</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" ng-model="agency" disabled="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Url</label>
                                <div class="col-lg-10 top-margin-6px">
                                    <a href="{{url}}" target="_blank" class="url-green">{{url}}</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Options</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-5">
                                        <div class="checkbox" ng-show="dlgCheckBoxModel.is_general_purpose == '1'">
                                            <label>
                                                <input type="checkbox" disabled="" ng-true-value="'1'" ng-false-value="'0'" ng-model="dlgCheckBoxModel.is_general_purpose"> General Purpose
                                            </label>
                                        </div>
                                        <div class="checkbox" ng-show="dlgCheckBoxModel.is_development == '1'">
                                            <label>
                                                <input type="checkbox" disabled="" ng-true-value="'1'" ng-false-value="'0'" ng-model="dlgCheckBoxModel.is_development"> Development
                                            </label>
                                        </div>
                                        <div class="checkbox" ng-show="dlgCheckBoxModel.is_exporting == '1'">
                                            <label>
                                                <input type="checkbox" disabled="" ng-true-value="'1'" ng-false-value="'0'" ng-model="dlgCheckBoxModel.is_exporting"> Exporting
                                            </label>
                                        </div>
                                        <div class="checkbox" ng-show="dlgCheckBoxModel.is_contractor == '1'">
                                            <label>
                                                <input type="checkbox" disabled="" ng-true-value="'1'" ng-false-value="'0'" ng-model="dlgCheckBoxModel.is_contractor"> Contractor
                                            </label>
                                        </div>
                                        <div class="checkbox" ng-show="dlgCheckBoxModel.is_rural == '1'">
                                            <label>
                                                <input type="checkbox" disabled="" ng-true-value="'1'" ng-false-value="'0'" ng-model="dlgCheckBoxModel.is_rural"> Rural
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="checkbox" ng-show="dlgCheckBoxModel.is_disabled == '1'">
                                            <label>
                                                <input type="checkbox" disabled="" ng-true-value="'1'" ng-false-value="'0'" ng-model="dlgCheckBoxModel.is_disabled"> Disabled
                                            </label>
                                        </div>
                                        <div class="checkbox" ng-show="dlgCheckBoxModel.is_green == '1'">
                                            <label>
                                                <input type="checkbox" disabled="" ng-true-value="'1'" ng-false-value="'0'" ng-model="dlgCheckBoxModel.is_green"> Green
                                            </label>
                                        </div>
                                        <div class="checkbox" ng-show="dlgCheckBoxModel.is_military == '1'">
                                            <label>
                                                <input type="checkbox" disabled="" ng-true-value="'1'" ng-false-value="'0'" ng-model="dlgCheckBoxModel.is_military"> Military
                                            </label>
                                        </div>
                                        <div class="checkbox" ng-show="dlgCheckBoxModel.is_disaster == '1'">
                                            <label>
                                                <input type="checkbox" disabled="" ng-true-value="'1'" ng-false-value="'0'" ng-model="dlgCheckBoxModel.is_disaster"> Disaster
                                            </label>
                                        </div>
                                        <div class="checkbox" ng-show="dlgCheckBoxModel.is_minority == '1'">
                                            <label>
                                                <input type="checkbox" disabled="" ng-true-value="'1'" ng-false-value="'0'" ng-model="dlgCheckBoxModel.is_minority"> Minority
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts
{
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/Controllers/advanceSearchController.js"></script>
}